@import 'tailwindcss';

body {
  font-family: 'Inter', sans-serif;
  background-color: #020617;
  /* slate-950 */
  color: #f1f5f9;
  /* slate-100 */
}

.mono {
  font-family: 'JetBrains+Mono', monospace;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  /* slate-800 */
  border-radius: 10px;
  border: 2px solid #020617;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
  /* slate-700 */
}